@charset "utf-8";

body{
    background-image: url("../blackswanimages/blackswan.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: fixed;
    background-size: 100%;
}

main > section > article > iframe{
    display: block;
    margin: 20px auto;
}

img{
    display: block;
    padding: 0px;
    margin: 5px auto;
}

main > section > article > h3{
    font-size: 3ex;
    margin: 10px 0px;
    text-align: center;
}

main > section > h2{
    width: 350px;
    text-align: center;
}

main > section > h2#larg1{
    display: block;
    margin: 10px;
    width: 420px;
    padding: 10px;
}

main > section > h2#larg2{
    display: block;
    margin: 10px auto;
    width: 700px;
    padding: 10px;
}